<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589202331293-d2nq9fa42aqr1uc91v1rvld7tp7c29kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589202331293-d2nq9fa42aqr1uc91v1rvld7tp7c29kn</string>
	<key>API_KEY</key>
	<string>AIzaSyCp68yPmgkbm3ELS3SC8cruuEs8iRgBkOE</string>
	<key>GCM_SENDER_ID</key>
	<string>589202331293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.videoconverter.dev.app</string>
	<key>PROJECT_ID</key>
	<string>videoconverter-236dc</string>
	<key>STORAGE_BUCKET</key>
	<string>videoconverter-236dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589202331293:ios:0bcb9f994b25d2eb182674</string>
</dict>
</plist>